<div id="board-add-question-button" onclick="showNewQuestionForm()" class="create-button">
  <span><big><b>+</b></big> Add a question</span>
</div>

<div id="board-add-question">
  <p style="color: #850000">Check your spelling! No deletion or edits once posted.</p>
  <form action="/action-new-question">
    <p>Ask as
      <input type="radio" name="anon" value="anon-no" checked />
      <label for="anon-no"><%= loggedInUserDisplayName %></label>
      <input type="radio" name="anon" value="anon-yes" />
      <label for="anon-yes">Anonymous</label>
    </p>
    <p>
      <textarea id="board-add-question-text" cols="80" rows="5"
                maxlength="280" required name="questionText"
                placeholder="Type in your question"></textarea>
      <span id="board-add-question-remaining-chars">0/280</span>
    </p>
    <p>
      <input id="board-add-question-context" type="text"
             name="questionContext" size="80"
             maxlength="200"
             placeholder="(Optional) Context: https://..."></input>
    </p>
    <input id="board-add-question-board-id" type="hidden" name="boardId" value="<%= board.id %>">
    <div id="new-question-action-bar">
      <a href="#" id="cancel-new-question-button" onclick="hideNewQuestionForm()">Cancel</a>
      <input id="submit-new-question-button" type="submit" value="Post">
    </div>
  </form>
</div>
