<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Marlin</title>
    <link rel="stylesheet" href="/style.css">
  <body>
    <h1>
      <a href="/"><img src="/marlin.svg">Marlin</a>
      <form action="/logout" method="POST" style="float: right;">
        <button id="logout-button" type="submit">Logout</button>
      </form>
    </h1>
