include head.pug

<a href="/">Back</a>
<br />
<br />

<form action="/action-new" method="POST">
  <input type="text" name="title" placeholder="Title" autofocus></input>
  <input type="submit" value="Create">
</form>
