<%- include('_head.ejs'); %>

<main>
  <a href="/">Back</a>

  <br/>
  <br/>

  <form action="/action-new">
    <input type="text" name="title" placeholder="Title" autofocus />
    <input type="submit" value="Create" />
  </form>
</main>