<%- include('_head.ejs'); %>

<main>
  <a href="/new">Create new board</a>

  <% if (boards.length > 0) { %>
    <p>Recent boards:
      <ul>
        <% boards.forEach(function(board) { %>
          <li><a href="/b/<%= board.id %>"><%= board.title %></a></li>
        <% }); %>
      </ul>
    </p>
  <% } %>
</main>