<%- include('_head.ejs'); %>

<main>
  <a href="/new">Create new board</a>

  <% if (boards.length > 0) { %>
    <p>Recent boards:
      <ul>
        <% boards.forEach(function(board) { %>
          <li>
            <a href="/b/<%= board.id %>"><%= board.title %></a>
            <span class="board-list-date">
              (<%= board.date.getFullYear() + '-' +
                   ('' + (board.date.getMonth() + 1)).padStart(2, '0') + '-' +
                   ('' + board.date.getDate()).padStart(2, '0') %>)
            </span>
          </li>
        <% }); %>
      </ul>
    </p>
  <% } %>
</main>