<%- include('_head.ejs'); %>

<style>
  #sign-in {
    display: block;
    margin: 10ex auto;
    text-align: center;
    width: 500px;
  }

  #google-sign-in {
    cursor: pointer;
    padding: 2ex;
    width: 200px;
  }
</style>

<main>
  <div id="sign-in">
    <% if (!!domain) { %>
      <p>Please only use your <b>@<%= domain %></b> account.</p>
    <% } %>
    <form action="/auth/google" method="GET">
      <button id="google-sign-in" type="submit">Sign in with Google</button>
    </form>
  </div>
</main>

<%- include('_footer.ejs'); %>