/* Global */

* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial;
}

a {
  text-decoration: none;
}

/* Title bar */

#header-bg {
  background-color: #456980;
}

header {
  background-color: #82cbf9;
  color: #02455d;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2ex;
  position: relative;
  text-align: center;
}

header a {
  color: #02455d;
  text-decoration: none;
}

#logo {
  height: 150px;
  margin-bottom: -20px;
  margin-top: -20px;
  vertical-align: middle;
}

#title-block {
  display: inline-block;
  vertical-align: middle;
}

#title {
  font-size: 200%;
}

#subtitle {
  font-size: medium;
}

#self-info {
  display: inline-block;
  right: 10px;
  position: absolute;
  top: 10px;
}

#logged-in-user-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}

#logged-in-user-avatar img {
  max-width: 100%;
}

#logout-form {
  display: inline-block;
}

#logout-button {
  cursor: pointer;
  padding: 1ex;
  vertical-align: middle;
}

/* Body */

main {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2ex;
}

.board-list-metadata {
  color: #aaa;
}

/* Board page */

#board-title {
  font-size: xx-large;
  text-align: center;
}

#board-date {
  color: #aaa;
  text-align: center;
}

#board-add-question-button {
  background-color: #d1f7ff;
  border: 1px solid #2d5c66;
  border-radius: 1ex;
  display: inline-block;
  margin: 2ex;
  padding: 2ex;
  cursor: pointer;
}

#board-add-question-button:hover {
  background-color: #2d5c66;
  color: white;
}

#board-add-question {
  display: none;
}

#board-add-question-text, #board-add-question-context {
  padding: 2ex;
  resize: none;
}

#new-question-action-bar {
  display: flex;
  justify-content: space-between;
}

#board-add-question-text, #board-add-question-context, #new-question-action-bar {
  font-family: Roboto, Arial;
  font-size: large;
  width: 82ex;
}

#cancel-new-question-button, #submit-new-question-button {
  cursor: pointer;
  font-size: large;
  padding: 1ex;
}

#questions {
}

/* Single question */

.question {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 100, 0.5);
  border-radius: 1ex;
  margin: 2ex;
  min-height: 10ex;
  padding: 1ex;
}

#question-template {
  display: none;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
