/* Global */

* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial;
}

/* Title bar */

#header-bg {
  background-color: #456980;
}

header {
  background-color: #82cbf9;
  color: #02455d;
  font-size: 200%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2ex;
  position: relative;
  text-align: center;
}

header a {
  color: #02455d;
  text-decoration: none;
}

#logo {
  height: 150px;
  margin-bottom: -20px;
  margin-top: -20px;
  vertical-align: middle;
}

#self-info {
  display: inline-block;
  right: 10px;
  position: absolute;
  top: 10px;
}

#logged-in-user-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}

#logged-in-user-avatar img {
  max-width: 100%;
}

#logout-form {
  display: inline-block;
}

#logout-button {
  cursor: pointer;
  padding: 1ex;
  vertical-align: middle;
}

/* Body */

main {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2ex;
}

.board-list-date {
  color: #aaa;
}
